{% extends "eALPSPortalBundle::eALPSPortalLayout.html.twig" %}

{# メインコンテンツ #}
{% block content %}	
	<div class="schedule">
		<section class="well">
			<h1>リダイレクトエラー</h1>
			<p>&nbsp;該当するコースが見つかりませんでした．</p>
			<dl class="dl-horizontal">
				<dt>開講年度</dt>
				<dd>{{ opYear }}</dd>
				<dt>開講学部</dt>
				<dd>{{ siteCode }}</dd>
				<dt>題目コード</dt>
				<dd>{{ titleCode }}</dd>
			</dl>
			<button class="btn" type="button" onclick="window.close();">ウィンドウを閉じる</button>
			<br />
			<br />
		</section>
	</div>
{% endblock %}