{% extends "eALPSPortalBundle::eALPSPortalLayout.html.twig" %}

{# メインコンテンツ #}
{% block content %}	
	<div class="schedule">
		<section class="well">
			<h1>リダイレクトエラー</h1>
			<p>&nbsp;該当するコースが見つかりませんでした．</p>
			<button class="btn" type="button">ウィンドウを閉じる</button>
			<br />
			<br />
		</section>
	</div>
{% endblock %}