{% extends "eALPSPortalBundle::eALPSPortalLayout.html.twig" %}

{# タイトル #}
{% block title %}時間割検索｜eALPSポータル{% endblock %}

{# メインコンテンツ #}
{% block content %}	

	{# 時間割検索フォーム #}
	<section id="info" class="well">
		<h1>時間割検索フォーム</h1>
		<form method="post" action="{{ path('e_alps_portal_schedule_admin') }}" class="form-horizontal">
			<fieldset>
				<div class="control-group">
					<label class="control-label">Type</label>
					<div class="controls">
						<select name="type">
							<option value="uid">UID</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Search Text</label>
					<div class="controls">
						<input type="text" name="searchText" class="input-large" value="{{ accountId }}">
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn">Search</button>
				</div>
			</fieldset>
		</form>
		<br />
	</section>
	
	{# 時間割 #}
	{% render "eALPSPortalBundle:Schedule:admin" with{'accountId':accountId} %}

{% endblock %}