{% extends "eALPSPortalBundle::eALPSPortalLayout.html.twig" %}

{# メインコンテンツ #}
{% block content %}	
	<div class="schedule">
		<section class="well">
			<h1>教員免許更新講習&nbsp;ログインフォーム</h1>
			<form class="form-horizontal eChesLoginForm" method="post" action="{{ redirectURL }}" target="_blank">
				<fieldset>
					<div class="control-group">
						<label class="control-label">ユーザID</label>
						<div class="controls">
							<input type="text" name="username" class="input-large" alt="UserID" />
						</div>
					</div>
						
					<div class="control-group">
						<label class="control-label">パスワード</label>
						<div class="controls">
							<input type="password" name="password" class="input-large" alt="Password" />
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn">ログイン</button>
					</div>
				</fieldset>
			</form>
			<br />
		</section>
	</div>
{% endblock %}