{% extends "eALPSPortalBundle::eALPSPortalLayout.html.twig" %}

{# メインコンテンツ #}
{% block content %}	
	<div>
		<section class="well">
			<h1>教員免許更新講習&nbsp;自動ログイン</h1>
			<form id="autoLoginForm" class="form-horizontal" method="post" action="{{ redirectURL }}" target="_blank">
				<fieldset>
					<input type="hidden" name="username" value="guest" />
					<input type="hidden" name="password" value="guest" />
					<input type="submit" value="自動で画面が切り替わらない方はこちらをクリック" />
				</fieldset>
			</form>
			<br />
		</section>
	</div>
	
	<div>
		<pre>{{ request }}</pre>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function(){
			// 自動ログイン
			//$('#autoLoginForm').submit();
		});
	</script>
{% endblock %}