{% extends "eALPSPortalBundle::eALPSPortalLayout.html.twig" %}

{# メインコンテンツ #}
{% block content %}	
	<div>
		<section class="well">
			<h1>{{ siteName }}&nbsp;自動ログイン</h1>
			<form id="autoLoginForm" class="form-horizontal" method="post" action="{{ redirectURL }}">
				<fieldset>
					<div class="control-group">
						{# <label class="control-label">ユーザID</label> #}
						<div class="controls">
							<input type="hidden" name="username" class="input-large" alt="UserID" value="{{ username }}" />
						</div>
					</div>
						
					<div class="control-group">
						{# <label class="control-label">パスワード</label> #}
						<div class="controls">
							<input type="hidden" name="password" class="input-large" alt="Password" value="{{ password }}"/>
						</div>
					</div>
						
					<div class="form-actions">
						<button type="submit" class="btn">自動で画面が切り替わらない方はこちらをクリック</button>
					</div>
				</fieldset>
			</form>
			
			<br />
		</section>
	</div>
		
	<script type="text/javascript">
		$(document).ready(function(){
			// 自動ログイン
			$('#autoLoginForm').submit();
		});
	</script>
{% endblock %}