{% extends "eALPSPortalBundle::eALPSPortalLayout.html.twig" %}

{# メインコンテンツ #}
{% block content %}	
	<div class="schedule">
		<section class="well">
			<h1>大学施設にログインする</h1>
			<!--
<form class="form-horizontal facilityLoginForm" method="post" action="{{ URL }}/{{ fiscalYear }}/facility/auth/shibboleth/" target="_blank">
				<fieldset>
					<div class="control-group">
						<label class="control-label">ログインするサイト</label>
						<div class="controls">
							<span class="input-xlarge uneditable-input">大学施設</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">ユーザID</label>
						<div class="controls">
							<input type="text" name="j_username" class="input-large" alt="UserID" />
						</div>
					</div>
						
					<div class="control-group">
						<label class="control-label">パスワード</label>
						<div class="controls">
							<input type="password" name="j_password" class="input-large" alt="Password" />
						</div>
					</div>
						
					<div class="form-actions">
						<button type="submit" class="btn">ログイン</button>
					</div>
				</fieldset>
			</form>
-->
			<form class="form-horizontal facilityLoginForm">
				<fieldset>
					<!--
						<div class="control-group">
						<label class="control-label">ログインするサイト</label>
						<div class="controls">
							<input class="input-xlarge" type="text" placeholder="大学施設" disabled />
							<span class="input-xlarge" disabled>大学施設</span>
						</div>
					</div>
					-->
					<div class="form-actions">
						<a href="{{ URL }}/{{ fiscalYear }}/facility/auth/shibboleth/"><button type="button" class="btn">ログインはこちら</button></a>
					</div>
				</fieldset>
			</form>
			<br />
		</section>
	</div>

{% endblock %}