{% extends "eALPSPortalBundle::eALPSPortalLayout.html.twig" %}

{# タイトル #}
{% block title %}大学施設 ログインページ｜eALPSポータル{% endblock %}

{# メインコンテンツ #}
{% block content %}	
	<div class="schedule">
		<section class="well">
			<h1>大学施設にログインする</h1>
			<form class="form-horizontal facilityLoginForm">
				<fieldset>
					<div class="form-actions">
						<button type="button" class="btn" onclick="location.href='{{ URL }}/facility/auth/shibboleth/'">ログインはこちら</button>
					</div>
				</fieldset>
			</form>
			<br />
		</section>
	</div>
{% endblock %}