{% extends "eALPSPortalBundle::eALPSPortalLayout.html.twig" %}

{# メインコンテンツ #}
{% block content %}	
	<div class="schedule">
		<section class="well">
			<h1>ヘルプ&サポートページ自動ログイン</h1>
			<form id="autoLoginForm" class="form-horizontal" method="post" action="{{ URL }}/{{ fiscalYear }}/help/login/index.php" target="_self">
				<fieldset>
					<input type="hidden" name="username" value="guest" />
					<input type="hidden" name="password" value="guest" />
					<input type="submit" value="自動で画面が切り替わらない方はこちらをクリック" />
				</fieldset>
			</form>
			<br />
		</section>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function(){
			// 自動ログイン
			$('#autoLoginForm').submit();
		});
	</script>

{% endblock %}